@import "../../../../styles/variables.scss";

.this__day_info {
  position: relative;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: var(#{--components-background-default});

  @media (max-width: 1200px) {
    padding: 30px;
    max-width: 650px;
  }

  @media (max-width: 1100px) {
    padding: 30px;
    max-width: 500px;
  }
  @media (max-width: 855px) {
    max-width: 400px;
  }
  @media (max-width: 700px) {
    max-width: 350px;
  }

  @media (max-width: 650px) {
    max-width: 300px;
    padding: 10px;
  }
  @media (max-width: 500px) {
    max-width: 100%;
    padding: 10px 40px;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .indicator,
  .indicator__name {
    margin-right: 20px;
    @media (max-width: 650px) {
      margin-right: 10px;
    }
  }

  .indicator {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 1px 4px 10px -1px #4793ff33;
    border-radius: 50%;

    @media (max-width: 1200px) {
      width: 30px;
      height: 30px;
    }
    @media (max-width: 650px) {
      width: 26px;
      height: 26px;
    }
  }

  .indicator__name,
  .indicator__value {
    font-size: 14px;
  }
  .indicator__name {
    color: $base-color;
  }
  .indicator__value {
    color: var(#{--text-color-default});
  }
}

.cloud__img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;

  @media (max-width: 855px) {
    max-width: 80%;
  }
}
